a {
    color: red;
    text-decoration: none;
}

.signup-container {
    position: relative;
    background-color: #e0e1ff;
    width: 500px;
    margin: 5px;
    padding: 20px;
    display: flex;
}

.signup-header {
    box-shadow: 2px 1px 1px 1px black;
    font-size: 12px;
    position: absolute;
    top: -10px;
    left: 0px;
    background-color: white;
    padding: 5px;
}

.signup-container label {
    display: inline-block;
    margin-bottom: 10px;
    font-weight: bold;
}

.signup-container input, .signup-container select {
    display: inline-block;
    margin-bottom: 6px;
}

.signup-labels {
    width: 27%;
}

.signup-inputs {
    width: 70%;
}